body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fb;
  margin: 0;
  padding: 0;
}
.recipe-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  h1,h2, h3 {
    color: #602708;
  }

  
  h3 {
    font-size: 1.4rem;
  }
  .tags {
    margin-top: 1rem;
  }
  
  .tag {
    display: inline-block;
    background-color: #e0e0e0;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
  }
  
  table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  ol {
    margin-top: 1rem;
    padding-left: 20px;
  }
  
  ol li {
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    margin-top: 10px;
  }
  
  video {
    width: 100%;
    margin-top: 10px;
  }

textarea{
  width: 50%;
  padding: 12px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #f9f9f9;
  border-color: #f19d49;
}

button {
  padding: 6px 10px;
  background-color: #ffa574;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  margin-top: 10px;
}

p {
  color: #4b1e06;
  font-size: 1rem;
  margin-bottom: 10px;
}

.comments-section{
  max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.comment, .comments{
  max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}