header {
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: solid 1px rgb(247, 126, 6);
    padding: 0 20px;
    margin: 20px;
}

.header-logo {
    display: flex;
    height: 90%;
    aspect-ratio: 1/1;
    background-image: url('../assets/hat-logo.png');
    background-size: contain;
}

nav {
    align-items: center;
    display: flex;
    height: 100%;
    flex-grow: 1;
    gap: 10px;
    padding: 0 20px;
}

nav>a {
    display: flex;
    width: 140px;
    align-items: center;
    justify-content: center;
    height: 80%;
    text-decoration: none;
    color: rgb(226, 72, 16);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.main-menu-button {
    display: none;
    background-image: url('../assets/align-justify-svgrepo-com.svg');
    background-size: contain;
    width: 8vw;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.mobile-main-menu-container {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    visibility: hidden;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
}

.mobile-main-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 0.7;
    transform: translateX(100vw);
    transition: 200ms linear all;
    background-color: white;
}

.menu-item {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 16px;
    color: rgb(231, 85, 12);
    border-bottom: 2px solid rgb(231, 85, 12);
    margin: 1em;
    text-decoration: none;
}

.mobile-main-menu-filler {
    display: flex;
    flex-grow: 0.3;
}

#main-menu-checker {
    display: none;
}

#main-menu-checker:checked~.mobile-main-menu-container {
    visibility: visible;
}

#main-menu-checker:checked~.mobile-main-menu-container>.mobile-main-menu {
    transform: translateX(0);
}

@media (max-width: 1000px) {
    header {
        justify-content: flex-end;
    }

    .main-menu-button {
        display: flex;
    }

    header>*:not(.main-menu-button, .mobile-main-menu-container) {
        display: none;
    }


}